<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Affordable and professional web design">
	  <meta name="keywords" content="web design, affordable web design, professional web design">
  	<meta name="author" content="Brad Traversy">
    <title>Medic | Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <div id="branding">
          <h1><span class="highlight">Medic</span> Application</h1>
        </div>
        <nav>
          <ul>
            <li class="current"><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section id="showcase">
      <div class="container">
        <h1>Welcome to the Doctors Appointment Application</h1>
        <p>Make your appointment with our expert panel of doctors.</p>
      </div>
    </section>

    <section id="newsletter">
      <div class="container">
        <h1>Make your appointment</h1>
        <form>
          <button type="submit" class="button_1"><a style="text-decoration:none;color : #ffffff" href="{{ url_for('login') }}">Sign In</a></button>   
          <button type="submit" class="button_2">Sign Up</button>
        </form>
      </div>
    </section>

    <section id="boxes">
      <div class="container">
        <div class="box">
          <img src="{{url_for('static',filename='img/logo_html.png')}}">
          <h3>Why this application</h3>
          <p>In a world where people have the right to choose everything we thought to step up the game and let you cbbok your seat with the doc</p>
        </div>
        <div class="box">
          <img src="{{url_for('static',filename='img/logo_css.png')}}">
          <h3>benefits</h3>
          <p>By signing up in these websites we will provide you with quality services</p>
        </div>
        <div class="box">
          <img src="{{url_for('static',filename='img/logo_brush.png')}}">
          <h3>What we provide</h3>
          <p>We provide you with reference to the most best doctors out there </p>
        </div>
      </div>
    </section>

    <footer>
      <p>Developed by team IN-NEED</p>
    </footer>
  </body>
</html>
